In [7]:
import sqlite3
import pandas as pd

In [4]:
con = sqlite3.connect('minitwit.db')
cur = con.cursor()

In [5]:
cur

In [8]:
df = pd.read_sql_query("SELECT * from user;", con)

In [9]:
df.head()

,user_id,username,email,pw_hash
0,1,Roger Histand,Roger+Histand@hotmail.com,pbkdf2:sha256:50000$27tb2qgX$64cd47b7cbd27b0f2...
1,2,Geoffrey Stieff,Geoffrey.Stieff@gmail.com,pbkdf2:sha256:50000$ZKEH4LvN$c16172a5a217c2410...
2,3,Wendell Ballan,Wendell-Ballan@gmail.com,pbkdf2:sha256:50000$QvV3EqQX$6dad4d42045b6542b...
3,4,Nathan Sirmon,Nathan+Sirmon@dtu.dk,pbkdf2:sha256:50000$MovIOLn0$e0af4cf3c3d9d08c4...
4,5,Quintin Sitts,Quintin+Sitts@itu.dk,pbkdf2:sha256:50000$yYgaCgtd$b49565a57e59b7a03...